<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css) }}">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>Document</title>
</head>
<body>
    <header>

        <div class="container">
    
            <div class="profile">
    
                <div class="profile-image">
    
                    <img src="경상국립대학교 프로필 사진.jpg">                
                </div>
    
                <div class="profile-user-settings">
    
                    <h1 class="profile-user-name">likelion_gnu</h1>
    
                    <button class="btn profile-edit-btn">팔로우</button>
                    <button class="btn profile-edit-btn">메시지 보내기</button>
    
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-user-plus"></i></button>
    
                </div>
    
                <div class="profile-stats">
    
                    <ul>
                        <li><span class="profile-stat-count">164</span> 게시물</li>
                        <li><span class="profile-stat-count">188</span> 팔로워</li>
                        <li><span class="profile-stat-count">206</span> 팔로우</li>
                    </ul>
    
                </div>
    
                <div class="profile-bio">
    
                    <p><span class="profile-real-name">멋쟁이사자처럼 경상국립대학교</span> <br>멋쟁이 사자처럼 경상국립대학교 공식 계정 <br>Possibility To Reality. 내 아이디어를 내 손으로 실현할 수 있는 이곳! IT 창업 연합 동아리 멋쟁이사자처럼입니다</p>
    
                </div>
    
            </div>
    </main>
</body>
</html>